body{
    background: #ffffff; 
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
} 
.post{
    background: #fcf8e3;
    padding: 5px 25px 25px 25px;
    box-shadow: 3px 3px 10px #ccc;
    border: 1px solid #ccc;
    margin-top: 0px;
}
.add_post{
    margin-bottom: 10px;
}
.post img{ 
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 3px 3px 10px #ccc;
}
textarea{
    resize: none;
    margin-bottom:10px;
    height: 200px !important
}
.panel-heading i{
    padding-top: 5px
 }

 .sidebar0{
    padding: 5px;
    border: 1px solid #ccc; 
    margin-bottom: 5px
}
.sidebar{
    padding: 10px;
    border: 1px solid #ccc; 
    margin-bottom: 5px;
    background: #ffeb3b54;
}
.sidebar h5 , .sidebar h3{
    padding: 10px;
    background: #fff
}
.sidebar h3{
    margin-top:  5px;
}

